@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 30px auto 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.auth-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-form input,
.auth-form button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Учитываем padding и border в расчете ширины */
}

.auth-form button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #0056b3;
}

.password {
    position: relative;
}

.password input {
    width: 100%; /* Все input внутри .password будут одинаковой ширины */
}

.password-control {
    position: absolute;
    top: 9px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
    cursor: pointer;
}

.password-control.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.already-account {
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 20px; /* Отступ сверху для элемента */
}

.already-account a {
    color: #007bff;
    text-decoration: none;
}

.already-account a:hover {
    text-decoration: underline;
}