<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Планировщик задач</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="profile-dropdown">
        <button class="profile-btn">Профиль <i class="fas fa-caret-down"></i></button>
        <div class="dropdown-content">
            <button id="logout-btn">Выйти</button>
            <button id="toggle-dark-mode">Темная тема</button>
        </div>
    </div>
    <h1>Планировщик задач</h1>
    <div class="task-search">
        <input type="text" id="search-input" placeholder="Поиск задач...">
        <i class="fas fa-search search-icon"></i>
    </div>
    <div class="task-input">
        <form id="task-form" method="POST" action="/add_task">
            <input type="text" name="task_text" id="task-input" placeholder="Введите задачу...">
            <input type="datetime-local" name="task_time" id="task-date" value="{{ current_datetime }}">
            <input type="color" name="color" id="task-color" value="#ff0000">
            <button type="submit" id="add-task" class="add-task-btn"><i class="fas fa-plus"></i> Добавить задачу
            </button>
        </form>
    </div>
    <div>
        <div id="task-list-active-container">
            <h2>В работе</h2>
            <ul id="task-list-active">
                {% for task in tasks if not task[4] %}
                <li class="task-item added" style="border-color: {{ task[3] }}" data-task-id="{{ task[0] }}">
                    <span>{{ task[1] }} - <small>{{ task[2].strftime("%Y-%m-%d %H:%M") }}</small></span>
                    <div>
                        <button class="complete-task"><i class="fas fa-check"></i></button>
                        <button class="delete-task"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <div id="task-list-completed-container">
                <h2>Завершенные</h2>
                <ul id="task-list-completed">
                    {% for task in tasks if task[4] %}
                    <li class="task-item added" style="border-color: {{ task[3] }}" data-task-id="{{ task[0] }}">
                        <span>{{ task[1] }} - <small>{{ task[2].strftime("%Y-%m-%d %H:%M") }}</small></span>
                        <div>
                            <button class="complete-task"><i class="fas fa-check"></i></button>
                            <button class="delete-task"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="notification" class="notification"></div>
        <script src="../static/script.js"></script>
</body>
</html>
