<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="../static/welstyles.css">
</head>
<body>
    <div class="container">
        <div class="welcome-form">
            <h1>Добро пожаловать!</h1>
            <p>Здесь вы можете управлять своими задачами, отслеживать прогресс и достигать целей.</p>
            <div class="welcome-buttons">
                <a href="/login" class="welcome-btn">Войти</a>
                <a href="/register" class="welcome-btn">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</body>
</html>
